body {
  font-size: 1.5em;
  background: url(images/fail.png) top center no-repeat;
}




#recap {
  border : 1px solid red;
  max-height: 90vh;
}


.tailleimg {
max-width: 100px;
}

  .left-bank {
    float : left;
    max-width: 40%;

    list-style-type: none;
  }


  .right-bank {
    float : right;
    max-width: 40%;

    list-style-type: none;
  }

.thecouples {
  list-style-type: none;
}

.ch1 {
  list-style-type: none;
}
